.no-recs-surveys {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center;     /* Vertically center */
    height: 100%;            /* Ensure it takes the full height of the table */
    width: 100%;             /* Ensure it takes the full width of the table */
    min-height: 200px;       /* Optional: Set a minimum height if needed */
    text-align: center;      /* Center the text */
    font-size: 1.5em;        /* Adjust the font size */
    color: #6c757d;          /* Optional: Muted color */
}

.no-recs-cell-surveys {
    text-align: center; /* Ensure content is centered within the cell */
    padding: 50px 0;    /* Add some padding to space it out vertically */
}
