.action-btn {
    height: 40px;
    margin: 2px;
    width: 100%;
}

.no-recs-admintable {
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;            
    width: 100%;             
    min-height: 200px;       
    text-align: center;      
    font-size: 1.5em;        
    color: #6c757d;          
}

.no-recs-cell-admintable {
    text-align: center; 
    padding: 50px 0;    
}

.page-buttons {
    width: 100%;
    text-align: center;
}

.page-change-btn {
    width: 20%;
    /* margin: 0 auto; */
    text-align: center;
    margin: 10px;
}
