.action-btn {
    height: 40px;
    margin: 2px;
    width: 100%;
}

.no-recs {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}

.page-buttons {
    width: 100%;
    text-align: center;
}

.page-change-btn {
    width: 20%;
    /* margin: 0 auto; */
    text-align: center;
    margin: 10px;
}

