/* yoo*/

.banner-area {
    object-fit: cover;
    position: fixed;
    clip-path: inset(20% 0 40% 0);
    margin-bottom: -246.4px;
    margin-top: -123.2px;
    width: 100%;
    left: 0;
}

.tags-area {
    text-align: center;
    background-color: aliceblue;
    padding: 20px 0;
    width: 100%;
    box-sizing: border-box; 
}

.tags {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap; 
}

.tags:first-of-type {
    margin-top: 100px;
}

.tags2 {
    display: inline-flex;
    margin: 2px;
    gap: 0.4rem;
    flex-wrap: wrap;
    justify-content: center;
}

.tag {
    margin-top: 1rem;
    display: inline-block;
    margin: 5px;
    font-size: 0.7rem;
    padding: 5px 10px;
    color: white;
    background: #0d6efd;
    text-align: center;
    border-radius: 4px;
    padding: 0.5rem;
}

.project-info-title-my-projects {
    margin-top: 7px;
    line-height: 1rem;
    font-size: 0.9rem;
}

.credits-text {
    color: green;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.card-img-custom {
    width: 32px !important;
    margin: 10px;
}

.btn-bootstrap {
    background-color: white;
}

.view-btn-my-projects {
    margin: 10px auto;
    margin-top: 30px;
    width: 80%;
    font-size: 0.9rem;
}

.card-body-css-my-projects {
    padding-top: 5px;
    position: relative;
}

.card-title-heading {
    margin: 0.5rem 0 1rem 0; /* Adjust the margin to create space around the title */
    font-weight: bold;
    color: #333;
    font-size: 1rem; /* Adjust size as needed */
    line-height: 1.2rem; /* Adjust line height for better readability */
    text-align: center; /* Center the text within the card */
}


.card-p-text {
    font-size: 0.9rem;
    margin-top: 10px;
    margin-bottom: 5px;
}

.reg-card-my-course {
    width: 300px; 
    height: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.1);
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(143deg, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 74%);
    background: -webkit-linear-gradient(143deg, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 74%);
    background: linear-gradient(143deg, rgba(255, 255, 255, 1) 11%, rgba(245, 245, 245, 1) 74%);
    /* margin: 0 auto;  */
}

.card-img-top {
    width: 100%;
    height: auto;
}

@media (max-width: 1200px) {
    .reg-card-my-course {
        width: 40%;
    }

    .card-title-heading {
        font-size: 1.1rem;
    }

    .card-p-text {
        font-size: 0.9rem;
    }
}

@media (max-width: 992px) {
    .reg-card-my-course {
        width: 220px;
    }

    .card-title-heading {
        font-size: 1rem;
    }

    .card-p-text {
        font-size: 0.85rem;
    }
}

@media (max-width: 768px) {
    .reg-card-my-course {
        width: 200px;
    }

    .card-title-heading {
        font-size: 0.9rem;
    }

    .card-p-text {
        font-size: 0.85rem;
    }

    .tags2 {
        gap: 0.4rem;
    }
}

@media (max-width: 576px) {
    .reg-card-my-course {
        width: 180px;
    }

    .card-title-heading {
        font-size: 0.8rem;
        top: 1.2rem;
    }

    .card-p-text {
        font-size: 0.8rem;
    }

    .view-btn-my-projects {
        font-size: 0.8rem;
    }

    .tags2 {
        gap: 0.2rem;
    }

    .tag {
        font-size: 0.6rem;
        padding-left: 3px;
        padding-right: 3px;
    }
}


/* display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-bottom: 50px; */

.reg-card-my-course {
    transition: opacity 0.5s ease, transform 0.5s ease;
}


.hidden-div-my-projects .reg-card-my-course {
    opacity: 0;
    transform: translateY(-20px);
    pointer-events: none; /* Optional: Disable interaction while hidden */
}

.greeting-my-projects {
    position: fixed;
    top: 66px;

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    left: 50%;
    transform: translateX(-50%);

    z-index: 2;
    background-color: rgb(var(--bs-light-rgb));
    /* background-color: rgb(245, 245, 245); */
    width: 180px;
    text-align: center;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
}

@media (max-width: 768px) {
    .reg-card-home {
        width: 60%;
    }

    .greeting-my-projects {
        top: 56px;
    }
}

@media (max-width: 576px) {
    .reg-card-home {
        width: 80%;
    }

    .greeting-my-projects {
        top: 56px;
        /* font-size: 1.2rem; */
        padding: 8px;
        width: 100%;
    }
}
